<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="devdlls;libs"/>
		</assemblyBinding>
	</runtime>
	<appSettings>

		<!--
		是否记录Info 日志，在生产环境下，为了性能 一般不记录Info 日志，
		在出现问题需要调试的情况下，才需要开启Info 日志记录分析问题 
		-->
		<add key="IsLogInfo" value="true"/>

		<!-- 是否记录警告日志 -->
		<add key="IsLogWarn" value="true"/>

	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
